*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.menu {
    background-color: rgb(43, 43, 43);
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid white;
    box-shadow: 5px 0 10px #000;
}
.logo{
    color: #fff;
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;
}
.menu_items{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
}
.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #fff;
}
.menu_items li:hover, li.active{
    background-color: crimson;
    transition: .4s;
}
.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}
ul.show{
    top: 65px;
}
.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.textW{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 25px;
}
.botonC{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 42px;
    background-color: crimson;
    margin-left: 47%;
    margin-top: 20px;
}
.botonC a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
@media screen and(max-width: 305px) {
    .botonC{
        margin-left: 30%;
    }
}
@media screen and(max-width:952px) {
    .logo{
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a{
        font-size: 16px;
    }
}
@media screen and (max-width:858px) {
    .menu {
        height: 65px;
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background-color: rgb(0,0,0);
        opacity: .8;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover{
        background: none;
    }
    .menu_items li a{
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menu_items li a:hover{
        color: crimson;
    }
    .logo{
        font-size: 25px;
        padding-left: 35px;
    }
}
@media screen and (max-width: 858px) and (orientation: landscape) {
    .menu_items li{
        margin: 5px 0 0 0;
    }
    .menu_items {
        overflow: scroll;
        height: calc(100% - 65px);
    }
}
