section{
    font-family: "Open sans";
    color: #fff;
    position: relative;
    height: 100vh;
    width: 100%;
    background: url('../img/prueba_4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.form-container{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    width: 480px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
}
h1{
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    margin-bottom: 2em;
}
.control input{
    width: 100%;
    display: block;
    padding: 10px;
    color: #222;
    border: none;
    outline: none;
    margin: 1em 0;
    border-radius: 15px;
    transition: .1s ease-out;
}
.control input[type="submit"] {
    background: crimson;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: .7;
    transition: opacity .3s ease;
    border-radius: 80px;
}
.control input:focus{
    outline: 2px solid crimson;
    font-size: 15px;
}
.control input[type="submit"]:hover{
    opacity: 1;
}
.link{
    text-align: center;
}
.link a{
    text-decoration: none;
    color: #fff;
    transition: opacity .3s ease;
    font-size: 1.5em;
}
.link a:hover{
    opacity: 1;
}
label{
    font-size: 1.5em;
}
.control input[type="checkbox"] {
    font-weight: bold;
    line-height: 3em;
    color: #ccc;
    cursor: pointer;
}
.control input[type="checkbox"]:checked {
    color: #0fbf12;
}
/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .form-container {
        margin-left: 25%;
    }
}
@media (max-width: 804px) {
    .form-container {
        margin-left: 25%;
    }
}
@media (max-width: 896px) {
    .form-container {
        margin-left: 25%;
    }
}
@media (max-width: 768px) {
    .form-container {
        margin-left: 25%;
    }
}

@media (max-width: 480px) {
    .form-container {
        width: 100%;
    }
}